<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>OA</title>

  <script src="lib/js/react.production.min.js"></script>
  <script src="lib/js/react-dom.production.min.js"></script>

  <link rel="stylesheet" href="lib/js/reset.css">

<body>
  <div id="app"></div>

  <script src="lib/js/manifest@dev.js"></script>
  <script src="lib/js/lib@dev.js"></script>
  <script src="lib/js/index@4e19362eda8fbaea51ae.js"></script>
  <script src="lib/js/login@146ff324e2714aa0b51f.js"></script>

<!--</script>-->
</body>
</html>

